@page "/"
@using Accordion.Components
@using Accordion.OtherComponents

<a href="" @onclick="@CollapseOrExpand" @onclick:preventDefault>Collapse or expand.</a>

<Collapser Titulo="Contador" @ref="CollapserRef">
    Contador: @_Contador
    <br />
    <button @onclick="ButtonOnClick" class="btn btn-primary">
        Incrementar
    </button>
</Collapser>

<Collapser Titulo="Eco" @ref="CollapserRef">
    <Eco></Eco>
</Collapser>

<Collapser Titulo="Reloj" @ref="CollapserRef">
    <Clock></Clock>
</Collapser>

@code{
    private int _Contador;

    private void ButtonOnClick()
    {
        _Contador++;
    }

    private List<Collapser> CollapserRefs = new List<Collapser>();
    Collapser CollapserRef
    {
        set { CollapserRefs.Add(value); }
    }

    /// <summary>
    /// Expande o colapsa el contenedor.
    /// </summary>
    private void CollapseOrExpand()
    {
        bool allIsCollapsed = CollapserRefs.Count(c => c.IsCollapsed) == 3;
        bool isCollapsed = allIsCollapsed ? false : true;

        foreach (Collapser collapser in CollapserRefs)
        {
            collapser.IsCollapsed = isCollapsed;
        }
    }
}