@page "/"
@using Accordion.Components
@using Accordion.OtherComponents

<Collapser Titulo="Contador">
    Contador: @_Contador
    <br />
    <button @onclick="ButtonOnClick" class="btn btn-primary">
        Incrementar
    </button>
</Collapser>

<Collapser Titulo="Eco">
    <Eco></Eco>
</Collapser>

<Collapser Titulo="Reloj">
    <Clock></Clock>
</Collapser>

@code{
    private int _Contador;

    private void ButtonOnClick()
    {
        _Contador++;
    }
}